.current__date {
  line-height: 1.4;
}

.date__text {
  color: var(--lgt-grey-color);
}

.date__listed {
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--white-color);
}

@media (min-width: 54rem) {
  .date__text {
    font-size: 2rem;
  }

  .date__listed {
    font-size: 4rem;
  }
}

@media (min-width: 62rem) {
  .date__text {
    font-size: 2.2rem;
  }

  .date__listed {
    font-size: 3.5rem;
  }
}
