.activities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 62rem) {
  .activities {
    gap: 3rem;
    width: 90%;
    margin-inline: auto;
  }
}

@media (min-width: 80rem) {
  .activities {
    max-width: 35%;
  }
}
