.header {
  display: flex;
  padding-block: 1.5rem;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 92%;
}

.header .container:last-child {
  justify-content: space-evenly;
}

.header__text {
  font-weight: 300;
  font-size: 3rem;
  color: #fff;
}

.header__text span {
  font-weight: 600;
}

@media (min-width: 62rem) {
  .header {
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .header .container {
    flex-direction: column;
    gap: 10rem;
    min-height: 30vh;
  }

  .header__text {
    font-size: 4rem;
  }
}
