.header {
  height: 15vh;
  margin-block-start: 1rem;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .container:last-child {
  justify-content: space-evenly;
}

.header__text {
  font-weight: 300;
  font-size: 3rem;
  color: var(--white-color);
}

.header__text span {
  font-weight: 600;
}

@media (min-width: 62rem) {
  .header__text {
    font-size: 4rem;
  }
}
